* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body {
  background-color: #020617;
  color: #e5e7eb;
}

.player {
  width: 320px;
  margin: 120px auto;
  padding: 24px;
  background-color: #0f172a;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.6);
}

.player h2 {
  color: #6366f1;
  margin-bottom: 16px;
}

/* Album Image */
#album {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #6366f1;
  color: white;
}

button:hover {
  opacity: 0.9;
}
