* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body {
  background-color: rgb(2, 6, 23);
  color: rgb(229, 231, 235);
}

.player {
  width: 320px;
  margin: 120px auto;
  padding: 24px;
  background-color: rgb(15, 23, 42);
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
}

.player h2 {
  color: rgb(99, 102, 241);
  margin-bottom: 16px;
}

/* Album Image */
#album {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
  color: rgb(156, 163, 175);
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(99, 102, 241);
  color: rgb(255, 255, 255);
}

button:hover {
  opacity: 0.9;
}
